# Additional War Game | Viraj Shah

In [1]:
import numpy as np
import pandas as pd

In [2]:
# This function does not print
def deal(): 
    deck = list(range(1,14))*4
    np.random.shuffle(deck)
    player1 = tuple(deck[:int(len(deck)/2)]) # Stores 26 random values in a tuple
    player2 = tuple(deck[int(len(deck)/2):]) # Stores 26 random values in a tuple
    return player1, player2

## Exercise 1

### Step 1.1 and Step 1.2
#### Add the capability to track the number of ties for each game
#### Add the capability to track the largest total won during a round in a given game

In [3]:
# This function does not print
def play(): 
    num_of_cards = 52
    num_of_cards_per_hand = 26
    total_rounds = 13
    player1_total = 0
    player2_total = 0
    record = 0
    no_of_ties = 0 # Used to track number of ties (Step 1.1)
    largest_round_total = 0 # Used to track number of the largest round total (Step 1.2)
    player1,player2 = deal() 
    for i in range(total_rounds):
        if player1[i] + player1[i + total_rounds] > player2[i] + player2[i + total_rounds]:
            player1_total += (player1[i] + player1[i + total_rounds] + player2[i] + player2[i + total_rounds] + record)
            
            # Update the largest total win
            if largest_round_total < (player1[i]+player1[i+total_rounds]+player2[i]+player2[i+total_rounds]+ record):
                largest_round_total = (player1[i]+player1[i+total_rounds]+player2[i]+player2[i+total_rounds]+ record)
            record = 0

        elif player1[i]+player1[i+total_rounds] < player2[i]+player2[i+total_rounds]:
            player2_total += (player1[i]+player1[i+total_rounds]+player2[i]+player2[i+total_rounds]+ record)
            
            # Update the largest total win
            if largest_round_total < (player1[i]+player1[i+total_rounds]+player2[i]+player2[i+total_rounds]+ record):
                largest_round_total = (player1[i]+player1[i+total_rounds]+player2[i]+player2[i+total_rounds]+ record)
            record = 0
        else:
            record = (player1[i]+player1[i+total_rounds]+player2[i]+player2[i+total_rounds]+ record)
            if (i == total_rounds-1):
                player1_total += record/2
                player2_total += record/2
            no_of_ties += 1
            
    store = {}
    store['player1_total'] = player1_total
    store['player2_total'] = player2_total
    store['player1_initial'] = sum(player1) # Sum of initial cards dealt to player1
    store['player2_initial'] = sum(player2) # Sum of initial cards dealt to player2
    store['no_of_ties'] = no_of_ties # Count the number of ties in a game
    store['largest_round_total'] = largest_round_total # Store the largest total won in a game
        
    if player1_total > player2_total:
        store['final_winner'] = 1
        store['player1_final'] = True
        store['player2_final'] = False
        store['final_tie'] = False
        store['winner_initial'] = sum(player1)
        store['winner_total'] = player1_total
        store['loser_initial'] = sum(player2)
        store['loser_total'] = player2_total
        return store
    elif player1_total < player2_total:
        store['final_winner'] = 2
        store['player1_final'] = False
        store['player2_final'] = True
        store['final_tie'] = False
        store['winner_initial'] = sum(player2)
        store['winner_total'] = player2_total
        store['loser_initial'] = sum(player1)
        store['loser_total'] = player1_total
        return store
    else:
        store['final_winner'] = 0
        store['player1_final'] = False
        store['player2_final'] = False
        store['final_tie'] = True
        store['winner_initial'] = (sum(player1)+sum(player2))/2
        store['winner_total'] = (player1_total+player2_total)/2
        store['loser_initial'] = (sum(player1)+sum(player2))/2
        store['loser_total'] = (player1_total+player2_total)/2
        return store

### Step 1.3
#### The function should track the following statistics for each game, stored in a dictionary (ideally as separate entries, which will facilitate next steps):

#### 1. Initial totals (i.e., sum of card values for initially dealt hands) for player 1 and player 2, respectively
#### 2. Number of ties during gameplay
#### 3. Maximum round total won (i.e., maximum sum of card values won during a round, potentially including tiebreakers)
#### 4. Final totals (i.e., sum of card values after completing gameplay) for player 1 and player 2, respectively

In [4]:
def play_new (games = 1): # default values for games = 1
    dict1 = {}
    dict1['player1_initial'] = []
    dict1['player2_initial'] = []
    dict1['no_of_ties'] = []
    dict1['largest_round_total'] = []
    dict1['player1_total'] = []
    dict1['player2_total'] = []
    for y in range(games):
        x = play()
        dict1['player1_initial'].append(x['player1_initial'])
        dict1['player2_initial'].append(x['player2_initial'])
        dict1['no_of_ties'].append(x['no_of_ties'])
        dict1['largest_round_total'].append(x['largest_round_total'])
        dict1['player1_total'].append(x['player1_total'])
        dict1['player2_total'].append(x['player2_total'])
    return dict1

### Step 1.4
#### Demonstrate your function for 1-game (games = 1) and 5-game samples (games = 5), and display the resultant dictionaries for each case

In [5]:
play_new() # Simulating 1 game

{'player1_initial': [190],
 'player2_initial': [174],
 'no_of_ties': [1],
 'largest_round_total': [70],
 'player1_total': [223],
 'player2_total': [141]}

In [6]:
play_new(5) # Simulating 5 games

{'player1_initial': [184, 199, 183, 193, 175],
 'player2_initial': [180, 165, 181, 171, 189],
 'no_of_ties': [0, 2, 1, 1, 1],
 'largest_round_total': [34, 58, 49, 43, 59],
 'player1_total': [175, 239.0, 196, 210, 219],
 'player2_total': [189, 125.0, 168, 154, 145]}

## Exercise 2

#### Simulate 1000 games and store your results in a pandas DataFrame

In [7]:
df = pd.DataFrame(play_new(1000))

#### Preview the first and last 10 rows of your results as proof of a successful run

In [8]:
df.head(10) # First 10 rows

,player1_initial,player2_initial,no_of_ties,largest_round_total,player1_total,player2_total
0,187,177,0,37,134.0,230.0
1,183,181,0,39,231.0,133.0
2,164,200,0,45,126.0,238.0
3,178,186,1,57,158.0,206.0
4,175,189,1,67,215.0,149.0
5,166,198,1,64,149.0,215.0
6,203,161,0,37,258.0,106.0
7,172,192,0,39,106.0,258.0
8,166,198,0,40,81.0,283.0
9,176,188,1,52,184.0,180.0

In [9]:
df.tail(10) # Last 10 rows

,player1_initial,player2_initial,no_of_ties,largest_round_total,player1_total,player2_total
990,171,193,0,37,127.0,237.0
991,196,168,0,41,207.0,157.0
992,182,182,1,63,119.0,245.0
993,212,152,1,47,246.0,118.0
994,199,165,1,45,252.0,112.0
995,191,173,0,42,227.0,137.0
996,196,168,0,47,175.0,189.0
997,191,173,2,51,202.0,162.0
998,195,169,0,43,238.0,126.0
999,137,227,0,39,80.0,284.0

## Exercise 3

### Step 3.1
#### Add a new column to your DataFrame ('outcome') that contains the value 'Player 1 wins' if Player 1's final total is higher, 'Player 2 wins' if Player 2's final total is higher, or 'Tie game' if the two player's final totals are equal

In [10]:
def outcome(player1,player2):
    if player1 > player2:
        return 'Player 1 wins'
    elif player1 < player2:
        return 'Player 2 wins'
    else:
        return "Tie game"

df['outcome'] = df.apply(lambda x : outcome(x['player1_total'], x['player2_total']), axis=1)

### Step 3.2

#### Add new columns for the winning total ('winning_total') and losing total ('losing_total'), which contain the final totals for the winning and losing players, respectively, and missing values (NumPy.nan) for tie games

In [11]:
def winning_total(player1,player2):
    if player1 > player2:
        return player1
    elif player1 < player2:
        return player2
    else:
        return np.nan

def losing_total(player1,player2):
    if player1 > player2:
        return player2
    elif player1 < player2:
        return player1
    else:
        return np.nan
df['winning_total'] = df.apply(lambda x: winning_total(x['player1_total'],x['player2_total']),axis=1)
df['losing_total'] = df.apply(lambda x: losing_total(x['player1_total'],x['player2_total']),axis=1)

### Step 3.3

#### Preview the first 10 rows of your modified DataFrame

In [12]:
df.head(10) # DataFrame containing 3 new columns, i.e, outcome, winning_total, losing_total

,player1_initial,player2_initial,no_of_ties,largest_round_total,player1_total,player2_total,outcome,winning_total,losing_total
0,187,177,0,37,134.0,230.0,Player 2 wins,230.0,134.0
1,183,181,0,39,231.0,133.0,Player 1 wins,231.0,133.0
2,164,200,0,45,126.0,238.0,Player 2 wins,238.0,126.0
3,178,186,1,57,158.0,206.0,Player 2 wins,206.0,158.0
4,175,189,1,67,215.0,149.0,Player 1 wins,215.0,149.0
5,166,198,1,64,149.0,215.0,Player 2 wins,215.0,149.0
6,203,161,0,37,258.0,106.0,Player 1 wins,258.0,106.0
7,172,192,0,39,106.0,258.0,Player 2 wins,258.0,106.0
8,166,198,0,40,81.0,283.0,Player 2 wins,283.0,81.0
9,176,188,1,52,184.0,180.0,Player 1 wins,184.0,180.0

#### Summarize the frequency of the three outcomes

In [13]:
df['outcome'].value_counts()

Player 1 wins    502
Player 2 wins    495
Tie game           3
Name: outcome, dtype: int64

#### Display the rows in your DataFrame that contain the 'Tie game' outcomes

In [14]:
df.loc[df['outcome']=='Tie game']

,player1_initial,player2_initial,no_of_ties,largest_round_total,player1_total,player2_total,outcome,winning_total,losing_total
225,184,180,0,41,182.0,182.0,Tie game,NaN,NaN
245,183,181,1,61,182.0,182.0,Tie game,NaN,NaN
954,182,182,0,48,182.0,182.0,Tie game,NaN,NaN

### Step 3.4
#### Produce descriptive statistics (e.g., minimum, mean, standard deviation, maximum) for your winning total column

In [15]:
df['winning_total'].describe()

count    997.000000
mean     225.534604
std       31.886818
min      183.000000
25%      200.000000
50%      218.000000
75%      245.000000
max      337.000000
Name: winning_total, dtype: float64

#### Display the rows in your DataFrame that contain the top 10 winning totals

In [16]:
df.sort_values(by='winning_total', ascending=False).head(10)

,player1_initial,player2_initial,no_of_ties,largest_round_total,player1_total,player2_total,outcome,winning_total,losing_total
51,209,155,0,41,337.0,27.0,Player 1 wins,337.0,27.0
40,203,161,2,55,334.0,30.0,Player 1 wins,334.0,30.0
255,205,159,1,57,330.0,34.0,Player 1 wins,330.0,34.0
608,203,161,0,42,327.0,37.0,Player 1 wins,327.0,37.0
317,208,156,0,39,324.0,40.0,Player 1 wins,324.0,40.0
618,205,159,1,57,323.0,41.0,Player 1 wins,323.0,41.0
764,192,172,2,77,322.0,42.0,Player 1 wins,322.0,42.0
309,166,198,3,80,43.0,321.0,Player 2 wins,321.0,43.0
721,151,213,0,43,43.0,321.0,Player 2 wins,321.0,43.0
958,222,142,0,41,317.0,47.0,Player 1 wins,317.0,47.0

## Exercise 4

### Step 4.1

#### Given your DataFrame of simulated game results, calculate the frequency of the number of ties within each game

In [17]:
print(df['no_of_ties'].value_counts()) # Shows the frequency for each number of ties

0    544
1    338
2     98
3     18
4      2
Name: no_of_ties, dtype: int64

### Step 4.2
#### Calculate the mean maximum round total as a function of the number of ties

In [18]:
df.loc[:,['no_of_ties','largest_round_total']].groupby(['no_of_ties']).mean()

            largest_round_total
no_of_ties
0                     40.663603
1                     55.230769
2                     64.051020
3                     77.222222
4                     79.500000

#### What do you observe about the relationship between the number of ties and the mean maximum round total? 
#### We observe that greater the number of ties in a game, greater is the mean value of the maximum round total.